/*****************Button base style***********************************************/

.drophere{
width:350px;
height:25px;
border: 1px dashed gray;
padding: 20px;
text-align: center;
}

a.ax-button span{
	color: #6A90B3;
	text-decoration: none; 
}

a.ax-button:hover span{
	color: #05A0DF;
	text-decoration: none;
}

div.ax-uploader fieldset{
border-width: 0px!important;
border-style:none!important;
margin-top: -25px!important;
}

	.ax-button
	{
	    margin-right: 4px;
	    margin-bottom: 5px;
	    overflow: hidden;
	    position: relative;
	    border: 1px solid #E0E8F0;
	    border-radius: 4px 4px 4px 4px;
	    cursor: pointer;
	    display: inline-block;
	    font-size: 1.1em;
	    line-height: 18px;
	    padding: 4px 10px;
	    text-align: center;
	    vertical-align: middle;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	    color: #FFFFFF;
	}
	
	.ax-icon
	{
		display: inline-block;
	    height: 14px;
	    line-height: 14px;
	    vertical-align: text-top;
	    width: 14px;
	    padding-right: 4px;
	    padding-bottom: 3px;
	}
	
	

/***************************Browse********************************************/
	.ax-browse-c, .ax-upload-all, .ax-clear, ax-upload, .ax-remove
	{
	 	background-color: #5BB75B;
	    background: -moz-linear-gradient(center top, #F6F8FB, #F6F8FB);
	    background: -ms-linear-gradient(top, #F6F8FB, #F6F8FB);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#F6F8FB), to(#F6F8FB));
		background: -webkit-linear-gradient(top, #F6F8FB, #F6F8FB);
		background: -o-linear-gradient(top, #F6F8FB, #F6F8FB);
		background: linear-gradient(top, #F6F8FB, #F6F8FB);
	
		filter:progid:dximagetransform.microsoft.gradient(startColorstr='#F6F8FB', endColorstr='#F6F8FB', GradientType=0);
	}
	
	.ax-plus-icon
	{
		background: url("../images/toolbar/16/add.png") no-repeat;
	}
	
	/*

**************************Upload all**************************************
	.ax-upload-all
	{
		background-color: #0074CC;
	    background: -moz-linear-gradient(center top, #0088CC, #0055CC);
	    background: -ms-linear-gradient(top, #0088CC, #0055CC);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0055CC));
		background: -webkit-linear-gradient(top, #0088CC, #0055CC);
		background: -o-linear-gradient(top, #0088CC, #0055CC);
		background: linear-gradient(top, #0088CC, #0055CC);
		filter:progid:dximagetransform.microsoft.gradient(startColorstr='#0088CC', endColorstr='#0055CC', GradientType=0);
	}
	
	*/
	
	.ax-upload-icon
	{
		background: url("../images/toolbar/16/done.png") no-repeat;
	}
	
	
	/*

**************************Clear all***************************************
	.ax-clear
	{
		background-color: #DA4F49;
	    background: -moz-linear-gradient(center top, #EE5F5B, #BD362F);
	    background: -ms-linear-gradient(top, #EE5F5B, #BD362F);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
		background: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
		background: -o-linear-gradient(top, #EE5F5B, #BD362F);
		background: linear-gradient(top, #EE5F5B, #BD362F);
		filter:progid:dximagetransform.microsoft.gradient(startColorstr='#EE5F5B', endColorstr='#BD362F', GradientType=0);
	}
	*/
	
	.ax-clear-icon
	{
		background: url("../images/toolbar/16/no.png") no-repeat;
	}
/****************************************************************************/


/*.ax-browse-c:hover,.ax-upload-all:hover,.ax-clear:hover
{
	opacity:0.5;
	filter:alpha(opacity=50);
}


.ax-remove
{
	background-color: #DA4F49;
    background: -moz-linear-gradient(center top, #EE5F5B, #BD362F);
    background: -ms-linear-gradient(top, #EE5F5B, #BD362F);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
	background: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
	background: -o-linear-gradient(top, #EE5F5B, #BD362F);
	background: linear-gradient(top, #EE5F5B, #BD362F);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#EE5F5B', endColorstr='#BD362F', GradientType=0);
}

.ax-upload
{
	background-color: #0074CC;
    background: -moz-linear-gradient(center top, #0088CC, #0055CC);
    background: -ms-linear-gradient(top, #0088CC, #0055CC);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0055CC));
	background: -webkit-linear-gradient(top, #0088CC, #0055CC);
	background: -o-linear-gradient(top, #0088CC, #0055CC);
	background: linear-gradient(top, #0088CC, #0055CC);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#62C462', endColorstr='#51A351', GradientType=0);
}

*/

.ax-abort .ax-icon
{
	/* background: url(icons.png) no-repeat -167px -332px; */
	background: url("../images/toolbar/16/close.png") no-repeat;
}

.ax-disabled
{
	opacity: 0.5;
	filter:alpha(opacity=50);
	cursor:auto;
}

/*.ax-remove:hover, .ax-upload:hover, .ax-abort:hover
{
	opacity: 0.5;
	filter:alpha(opacity=50);
}
*/

.ax-preview
{
	max-height:60px;
	max-width:80px;
}


.ax-prev-container
{
	float:left;
	height:80px;
    width: 80px;
    display: inline-block;
 /*   background: url(icons.png) no-repeat -80px -78px; */
    
}

/************************List files styles******************************/
	.ax-file-list
	{
		overflow:hidden;
	    list-style: none outside none;
	    padding:0;
		margin:0;
		width: 585px;
		padding-top: 9px;
	}
	
	.ax-file-list li
	{	
		border-top: 1px solid #DDDDDD;
	    text-align:center;
	    margin: 0 2px 2px 0;
	    padding: 2px;
	    text-align:center;
	    
	    width: 585px;
	    height: 90px;
	}
	
	/*
	.ax-file-list li:hover
	{	
		background-color: #EBEBEB;
	    background: -moz-linear-gradient(center top, #EBEBEB, #BDBDBD);
	    background: -ms-linear-gradient(top, #EBEBEB, #BDBDBD);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#EBEBEB), to(#BDBDBD));
		background: -webkit-linear-gradient(top, #EBEBEB, #BDBDBD);
		background: -o-linear-gradient(top, #EBEBEB, #BDBDBD);
		background: linear-gradient(top, #EBEBEB, #BDBDBD);
		filter:progid:dximagetransform.microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#BDBDBD', GradientType=0);
	}
	*/
	
	.ax-edit-fn
	{
		border:1px solid gray;
		background-color:#fff;
	}
/***********************************************************************/



.ax-file-size, .ax-file-name
{
	text-align:left;
/*	font: 13px 'Helvetica Neue',Helvetica,Arial,sans-serif; */
	font: 1.1em;
	color: #000;
    overflow: hidden;
	padding:0;
	margin:0;
	width:100%;
}

.ax-file-name input
{
	width:80%;
}

.ax-progress
{
	background-color:#f7f7f7;
	background-image:-moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image:-ms-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image:-webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image:-o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image:linear-gradient(top, #f5f5f5, #f9f9f9);
	background-repeat:repeat-x;

	border-radius:4px;
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	background-color: white;
    border-radius: 2px;
    margin-top: 30px;
    padding: 0;
    float:left;
    height:20px;
    width: 180px;
    position:relative;
    text-align:center;
}

.ax-progress-bar
{
    height: 100%;
	width: 0; 
	background-image: url(../images/loader.gif);
}

.ax-progress-info
{
/*	font: 16px 'Helvetica Neue',Helvetica,Arial,sans-serif; */
	font:1.2em;
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
	left:0;
	overflow:hidden;
}


.ax-toolbar
{
	float:right;
	display: inline-block;
	overflow:hidden;
	margin-top: 25px;
}

.ax-browse
{
	opacity: 0;
	filter:alpha(opacity=0);
	cursor:pointer;
	height:64px;
	position: absolute;
	top: 0;
	right: 0;
}

.ax-details
{
 	float: left;
    margin-top: 18px;
    padding: 10px;
    width: 190px;
}



/*************************************Light Box CSS***************************************/
#ax-box 
{
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1001;
	display: none;
	border:10px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	
  -webkit-box-shadow: 0px 0px 21px 0px #ffffff; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 0px 21px 0px #ffffff; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 21px 0px #ffffff; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	
}


#ax-box span
{
	margin-left:20px;
	
}

#ax-box-shadow 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}
