/**
* Administrator CSS
* This CSS define the look and feel of the tool tips or overlays.
* @link http://www.joobi.co
* @copyright Distributed under the Lesser General Public License (LGPL).
* @link http://www.gnu.org/copyleft/lesser.html
* @author Joobi Team <css.support@joobi.co>
*/

.joobitool-tip {
	color: #7a7a7a;
	width: 200px;
	z-index: 13000;
	font-weight: normal;
	font-size: 13px;
	text-shadow:1px 1px 1px #ffffff;}


.joobitool-title {
	font-weight: bold;
	font-size: 1px;
	margin: 0;
	color: transparent;
	padding: 8px 8px 4px;
	background: url(../images/bubble.png) top left no-repeat !important;
}

.joobitool-text {
	font-size: 11px;
	padding:9px 18px 21px;
	background: url(../images/bubble.png) bottom right no-repeat !important;
}