/**new menu**/

ul#joobiMenu{position:relative;margin:0!important;padding:0;float:left;}
ul#joobiMenu li a{color:#6a90b3;text-shadow:0px 1px 1px #f5f7fa;text-decoration:none;}
ul#joobiMenu li a:hover,ul#joobiMenu li a:focus,ul#joobiMenu li a:active{color:#335aa0;background:none;}
ul#joobiMenu li{float:left;list-style:none;}

ul#joobiMenu li,ul#joobiMenu li a{display:block;background-repeat:no-repeat!important;}
ul#joobiMenu li{background-image:url(../images/menuleft1-bg.png)!important;background-position:0 0;padding-bottom:7px!important;}
ul#joobiMenu li a{background-position:100% 0px;padding:0 8px;background-image:url(../images/menuright-bg.png)!important;text-decoration:none!important;}
ul#joobiMenu li a div{height:27px;margin:0;padding:14px 11px 0 26px;background-position:5px 50%;font-size:1.1em;font-weight:bold;line-height:1.1em;}

ul#joobiMenu li:hover{background-position:0 0px;background-image:url(../images/menuleft2-bg.png)!important;}
ul#joobiMenu li:hover a{background-position:100% -41px!important;}
ul#joobiMenu li:hover a div{background-color:#ebf1f6;}

/*
ul#joobiMenu li:first-child{}
*/
ul#joobiMenu li div.menuSub1,ul#joobiMenu li div.menuSub2{position:absolute;left:-999em;top:50px;margin:0;padding:0;z-index:1000;min-width:180px;
-moz-box-shadow: 0px 3px 10px #ccd9e7;
-webkit-box-shadow: 0px 3px 10px #ccd9e7;
box-shadow: 0px 3px 10px #ccd9e7;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color='#ccd9e7')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color='#ccd9e7');
}
ul#joobiMenu li:hover div.menuSub1{left:auto;}
ul#joobiMenu li div.menuSub1 li:hover div.menuSub2{left:108%;top:-14px;}
ul#joobiMenu li div.menuSub1 ul li,ul#joobiMenu li div.menuSub1 ul li a,ul#joobiMenu li div.menuSub1 ul li div,ul#joobiMenu li div.menuSub1 ul{padding:0;margin:0;}

/**ul#joobiMenu li ul li,ul#joobiMenu li ul li a,ul#joobiMenu li ul li a div{background:none!important;background-image:none!important;}**/
ul#joobiMenu li ul li{position:relative;float:none;padding:1px!important;border-top:1px solid #d5e1ec;background-image:none!important;}
ul#joobiMenu li ul li a{padding:1px!important;background-image:none!important;}
ul#joobiMenu li ul li a div{padding:6px 6px 6px 26px!important;height:auto;background-color:transparent!important;}

ul#joobiMenu li ul li:first-child{border-top:none;}

ul#joobiMenu li div.menuSub1 ul li:hover{background-color:#d5e1ec!important;background-image:none!important;}
ul#joobiMenu li div.menuSub1 ul li a:hover{background-color:#759fc5!important;}
ul#joobiMenu li div.menuSub1 ul li a div:hover {background-color:#759fc5!important;color:#eff4f7!important;text-shadow:0px 1px 1px #8cafce;}
ul#joobiMenu li.list-last div.menuSub1 li a{background-image:none!Important;}

ul#joobiMenu li.list-last a{background-image:none!important;}
ul#joobiMenu li.list-last:hover a{background-image:url(../images/menuright-bg.png)!important;}
/**menu sub bg**/
div.menuSubTL,div.menuSubTR,div.menuSubTC,div.menuSubMC,div.menuSubBL,div.menuSubBR,div.menuSubBC,div.menuSubArrow{background-image:url(../images/submenu.png);background-repeat:no-repeat;}
div.menuSubTL{background-position:0 -9px;}
div.menuSubTR{background-position:100% -13px;padding:0 4px!important;}
div.menuSubTC{background-position:50% -17px;background-repeat:repeat-x;height:4px;position:relative;}

div.menuSubML{background-color:#d4dee8;padding:0 1px!important;}
div.menuSubMR{background-color:#f9fbfc;padding:0 1px!important;}
div.menuSubMC{background-position:50% -60px;background-color:#f5f8fa;background-repeat:repeat-x;padding:9px!important;}

div.menuSubBL{background-position:0 -21px;}
div.menuSubBR{background-position:100% -25px;padding:0 4px!important;}
div.menuSubBC{background-position:50% -29px;background-repeat:repeat-x;height:4px;}

div.menuSubArrow{background-position:10px 0;width:100%;top:-8px;height:9px;position:absolute;z-index:1;}
div.menuSub1 ul li div.menuSubArrow{background-position:100% -34px;height:50px;left:-21px;top:14px;width:20px;}