/**Messages**/
dl#joobimessage dd{
background-image:none;
margin:0;
margin-top:10px;
clear:both;
content:".";
display:block;
moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
font-weight:bold;
}

dl#joobimessage dd.notice{background-color:#E1F0F5;border:1px solid #C6DFE6;color:#3A768E;}
dl#joobimessage dd.error{background-color:#F5E6E1;border:1px solid #EAC9C0;color:#ff0000;;}
dl#joobimessage dd.success{background-color:#E0F5E6;border:1px solid #BDE4C9;color:#009900;}
dl#joobimessage dd.warning{background-color:#FCF6E0;border:1px solid #EDE2C2;color:#E48143;}

a.icon-message {
cursor:pointer;
float:left;
padding:6px 9px 0 12px!important;;
}

dl#joobimessage div div {
line-height: 1.8em;
}

dl#joobimessage div.contain-message {
padding:3px 0 0 25px;
}