div.pagePagination{text-align:center;padding:10px 0;float:left;}

span.pagiLeft,span.pagiRight,span.pagiCenter{background-image:url(../images/pagination.png);background-repeat:no-repeat;display:inline-block;}
span.pagiLeft{background-position:0 0;margin:0 2px;}
span.pagiRight{background-position:100% -28px;padding:0 4px;}
span.pagiCenter{background-position:50% -56px;background-repeat:repeat-x;height:28px;padding:0 4px;line-height:200%;}

span.pagiLeft.currentPage{background-position:0 -84px;}
span.pagiLeft.currentPage span.pagiRight{background-position:100% -112px;padding:0 6px 0 4px;}
span.pagiLeft.currentPage span.pagiCenter{background-position:50% -140px;background-repeat:repeat-x;height:28px;padding:0 2px;color:#335aa0!important;}

div.pagePagination a{background:none!important;color:#6a90b3!important;text-decoration:none;font-weight:bold;line-height:230%;}
div.bottom-pagination div.pagePagination,div.bottom-pagination div.pagipages{float:none;text-align:center;}
span.pagiCenter span.currentPage{line-height:230%;}