
/*Progress Bar*/
.ProgressBar {
    -moz-border-radius: 35px 35px 35px 35px;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 0 0 #FFFFFF;
    background: -moz-linear-gradient(#9DA5B0 0%, #B6BCC6 100%) repeat scroll 0 0 transparent;
    height: 25px;
    width: 90%;
    min-width: 150px;
    min-height: 25px;
    padding-right: 2px;
    position: relative;
    margin-bottom: 1em;
    margin-top: 1em;
}.ProgressLoading {
    -moz-border-radius: 35px 35px 35px 35px;
    -moz-box-shadow: 0 1px 0 0 #DBF383 inset, 0 -1px 1px #58C43A inset;
    background: -moz-repeating-linear-gradient(left top -30deg, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.17) 15px, rgba(255, 255, 255, 0) 15px, rgba(255, 255, 255, 0) 30px) repeat scroll 0 0%, -moz-linear-gradient(#9BDD62 0%, #74D04C 100%) repeat scroll 0 0 transparent;
    border: 1px solid #4C8932;
    display: block;
    height: 90%;
    overflow: hidden;
    position: relative;
}.ProgressLabel {
	display: table;
	float: right;
	font-size: 15px;
    font-weight: bold;
    margin: 3px 12px 0 0;
	position: relative;
	color: #4C8932;
	text-shadow: 1px 1px 0 #DBF383;
}