/**
* This CSS to define sliders backend
* @link http://www.joobi.co
* @copyright Distributed under the Lesser General Public License (LGPL).
* @link http://www.gnu.org/copyleft/lesser.html
* @author Joobi Team <css.support@joobi.co>
*/

/* pane-sliders  */
.pane-sliders .title {
	margin: 0;
	padding: 2px;
	color: #666;
	cursor: pointer;
}

.pane-sliders .panel {
	border: 1px solid #ccc;
	margin-bottom: 3px;
	-moz-border-radius:3px;
 	-webkit-border-radius:3px;
	behavior: url(border-radius.htc);
}

.pane-sliders .panel h3 {
	background: #f6f6f6; color: #666
}

.jpane-toggler span {
	background: transparent url(../images/arrow-right.png) 5px 50% no-repeat;
	padding-left: 20px;
}
.jpane-toggler-down span {
	background: transparent url(../images/arrow-down.png) 5px 50% no-repeat;
	padding-left: 20px;
}

.jpane-toggler-down {
	border-bottom: 1px solid #ccc;
}

