/**
* Site CSS style
* This CSS define the look and feel of the application in the backend.
* @link http://www.joobi.co
* @copyright Distributed under the Lesser General Public License (LGPL).
* @link http://www.gnu.org/copyleft/lesser.html
* @author Joobi Team <css.support@joobi.co>
*/

@import url('messages.css');

a.anchor{text-decoration: none!important;}
.search-highlight{font-weight:bold;font-style:italic;background:yellow;}

div#pageWrapper div.viewBody table{width:100%;border-spacing:0;}
div#pageWrapper div.mainContent{position:relative;z-index:0;}
div.pageTitle{float:left;}
div.pageTitle span{margin:9px 0 0 0;}
div.pageTitle h1{float:left;}
div#pageWrapper div.toolbar{float:right;}
div.viewForm{/*background-color:white;*/}
div#pageWrapper ul.toolbar:after,ul.FieldColumn:after,div.tab-row:after,div#toolbarBoxCenter:after,span.fieldCurveC:after,div.viewForm:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
div.mainContent table.category thead tr th, div.mainContent table.category thead tr {background: none !important; border: none !important;}
#joobitoolbarBox div.pageTitle h1.componentheading,table.toolbar,table.cmsform,table.cmsform fieldset,.mainContent table.style,.viewForm table.category{border:none!important;}
div#pageWrapper a{outline:none;text-decoration:none;color:#025a8d;}
div#pageWrapper a:hover{text-decoration:underline;color:#025a8d;background:none;}
div#pageWrapper table tr{border:none;}
div#pageWrapper div.viewBody h1{font-size:1.818em!important;line-height:1.818em!important;margin:3px 0 0;padding:0;}
div#pageWrapper input,div#pageWrapper select{font-size:0.909em;}
div#pageWrapper div.viewBody label{font-size:1.091em;line-height:1.091em;}

div#pageWrapper ul.toolbar{margin:11px 0;padding:0;}
div.viewForm table.weblinks th,div.viewForm table.newsfeeds th,div.viewForm table.category th,div.viewForm table.jlist-table th{color:#555555;}
div.topSpacing{height:20px;}

/* FIELDS DEFINITION  */
div#pageWrapper ul li{list-style:none;background:none;padding:0;}
ul.fieldList,ul.FieldColumn{padding:0;}
ul.FieldColumn{margin:0;}
ul.FieldColumn ul.fieldList{float:left!important;width:46%!important;}
ul.FieldColumn ul.fieldList ul.fieldList, ul.FieldColumn ul.fieldList ul.fieldList ul.fieldList{width:auto!important;}
ul.FieldColumn ul.fieldList:first-child{margin-right:19px;}

ul.fieldList fieldset.fieldsetContent ul.fieldList{float:none;width:auto;margin-right:0;padding:8px 3px;}

ul.fieldList li div.fieldL,ul.fieldList li div.fieldR,li div.fieldTextarea{float:left;margin:5px 0;min-height:22px;}
ul.fieldList li div.fieldL{width:160px;padding:0 10px 0 0;}
li div.fieldTextarea span.mceEditor{display:block;width:700px;}

div#pageWrapper div.viewBody li div.fieldTextarea span table{width:100%!important;}
div#pageWrapper div.viewBody li div.fieldTextarea span table table{width:auto!important;}
	
div#pageWrapper .clr{clear:both;}

ul.fieldList li div.fieldR span.fieldCurveL:focus{background:none!important;}

ul.fieldList.vertical li div.fieldL,ul.fieldList.vertical li div.fieldR{clear:both;}
ul.fieldList.vertical li div.fieldL{width:auto;}

div#pageWrapper legend,h3.fieldsetLegend{border:1px solid #d4dee8;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
div#pageWrapper fieldset{ margin-top:20px;padding:14px 1px 1px;border-top:1px solid #d4dee8;border-left:none;border-right:none;border-bottom:none;}
div#pageWrapper legend{padding:5px;}
div#pageWrapper fieldset.joobiform{width:99%;}

div#pageWrapper fieldset.joobiform ul li{margin:5px 0;}

div.fieldR.nested{width:100%;}

/* right filed content rounded corner */
span.fieldCurveL,span.fieldCurveR,span.fieldCurveC{background-image:url(../images/box-curve.png);background-repeat:no-repeat;display:inline-block;height:27px;}
span.fieldCurveL{background-position:0 0;}
span.fieldCurveR{background-position: 100% -27px;padding:0 4px;}
span.fieldCurveC{background-position:50% -54px;background-repeat:repeat-x;height:25px;padding:1px 0;}
span.fieldCurveL:focus span{background:none!important;}
span.fieldCurveC select,span.fieldCurveC select:focus{background:none;border:none;padding:5px 0;margin:0 -3px!important;padding:5px;float:left;}

span.fieldCurveC input,span.fieldCurveC input:focus{background:none;padding:5px;height:20px;border:none;margin:0 -3px!important;}
span.fieldCurveC input.money,span.fieldCurveC input.money:focus{float:none;text-align:center;}
span.fieldCurveC input:focus,span.fieldCurveC select:focus,div.fieldBoxMC select:focus,div.fieldBoxMC textarea:focus,span.boxCurveC input:focus,span.boxCurveC select:focus
{background-color:#E6FCE6;}

span.fieldCurveC input.jberror,span.fieldCurveC select.jberror,div.fieldBoxMC select.jberror,div.fieldBoxMC textarea.jberror,span.boxCurveC input.jberror,span.boxCurveC select.jberror,
span.fieldCurveC input.jberror:focus,span.fieldCurveC select.jberror:focus,div.fieldBoxMC select.jberror:focus,div.fieldBoxMC textarea.jberror:focus,span.boxCurveC input.jberror:focus,span.boxCurveC select.jberror:focus
{background-color:#fCE6E6;}

/***Form Container / Frame***/
/**no curve border on the main content**/
div.fieldBoxTL,div.fieldBoxTR,div.fieldBoxTC,div.fieldBoxBL,div.fieldBoxBR,div.fieldBoxBC{background-image:url(../images/curve-frame.png);background-repeat:no-repeat;}
div.fieldBoxTL{background-position:0 0;}
div.fieldBoxTR{background-position:100% -4px;padding:0 4px}
div.fieldBoxTC{background-position:50% -8px;background-repeat:repeat-x;height:4px;}
div.fieldBoxML{background-color:#d4dee8;padding:0 1px;}
div.fieldBoxMR{background-color:#fdfefe;}
div.fieldBoxMC span,div.fieldBoxMC select{border:none!important;margin:-3px 0;padding:5px;}
div.fieldBoxBL{background-position:0 -12px;}
div.fieldBoxBR{background-position:100% -16px;padding:0 4px}
div.fieldBoxBC{background-position:50% -20px;background-repeat:repeat-x;height:4px;}
div.fieldBoxMC textarea{border:none;float:none;margin:-3px 0;padding:5px;font-family:Arial;}
div.multiSelectBox{padding: 5px 20px 5px 10px;}


div#element-box{background-color:transparent!important;}

/* disable rounded corner of joomla*/
div#element-box div.m,div#element-box div.t,div#element-box div.b{border:none!important;background:none!important;padding:0!important;}
div#element-box div.t,div#element-box div.b{height:0;}

/**new style**/

/** style for dashboard icons */
div.dashboard-panel{padding:15px;}

#all{max-width:100%!important;}
div#pageWrapper{margin:0 20px 20px 20px;color:#615959;font-size:12px;}
body.contentpane{margin:0!important;}
#main{padding:0!important;}
#main h1{margin:9px 0 0 0!important;border:none!important;}
#main h1.componentheading a{font-size:18px;background:none!important;color:#335aa0;text-decoration:none;}

#Logo{background-image:url(../images/logo.png);
background-repeat:no-repeat;width:14px;height:16px;}

/** ToolBar Header **/
a{outline:none;}
div#pageHeader{width:100%;margin-bottom:19px;}
div#pHLeft,div#pHRight,div#pHCenter,div#toolbarBoxLeft,div#toolbarBoxRight,div#toolbarBoxCenter,div.curveBottomLeft,div.curveBottomRight,div.curveBottomCenter,
div.containerTL,div.containerTR,div.containerTC
{background-image:url(../images/background.png);background-repeat:no-repeat;}
div#pHLeft{background-position:0 0;}
div#pHRight{background-position:100% -42px;padding:0 11px;}
div#pHCenter{background-position:50% -84px;height:42px;background-repeat:repeat-x;}

div#pHPosLeft,div#pHPosLeft div{float:left;clear:none;color:#7f94a9;}
div#pHPosRight{float:left;margin:0 9px 0 0;}

div#pHPosLeft{margin:12px 0 0 9px;}
div#pHPosLeft div{padding:0 8px 0 0;}

div#toolbarBox{margin-top:0px;padding:0!important;height:auto!important;margin-bottom:19px;background:none!important;}
div#toolbarBoxLeft{background-position:0 -126px;clear:both;}
div#toolbarBoxRight{background-position:100% -177px;padding:0 11px;}
div#toolbarBoxCenter{background-position:50% -228px;height:51px;background-repeat:repeat-x;}

/**ToolBar buttons**/
div#pageWrapper ul.toolbar li{list-style:none;float:left;margin:0 3px!important;}
div#pageWrapper ul.toolbar li a div{width:auto!important;height:29px!important;background-position:0px 6px!important;padding:0 0 0 19px;background-repeat:no-repeat;line-height:29px;font-weight:bold;}
div#pageWrapper ul.toolbar li a{background:none!important;}
div#pageWrapper ul.toolbar li a,ul.toolbar li a span,span.SBLeft,span.SBRight,span.SBCenter{background-image:url(../images/toolbarmenu.png)!important;background-repeat:no-repeat!important;display:block;}

span.SBCenter input{border:none;background:none;color:#6a90b3;font-weight:bold;height:29px;}
span.SBLeft:hover input{color:#05a0df}
div#pageWrapper ul.toolbar li a,span.SBLeft{background-position:0 0!important;cursor:pointer;text-decoration:none;color:#6a90b3;}
div#pageWrapper ul.toolbar li a span.TBBRight,span.SBRight{background-position:100% -29px!important;padding:0 14px}
div#pageWrapper ul.toolbar li a span.TBBCenter,span.SBCenter{background-position:50% -58px!important;background-repeat:repeat-x!important;height:29px;}
div#pageWrapper ul.toolbar li a:hover,span.SBLeft:hover{background-position:0 -87px!important;color:#05a0df!important;}
div#pageWrapper ul.toolbar li a:hover span.TBBRight,span.SBLeft:hover span.SBRight{background-position:100% -116px!important;}
div#pageWrapper ul.toolbar li a:hover span.TBBCenter,span.SBLeft:hover span.SBCenter{background-position:50% -145px!important;}

li div.dividerBar{background-image:url(../images/menuleft1-bg.png)!important;background-position:0 0; float: right;width:2px;height:29px;}

ul.toolbar li a span div a{background:none!important;}

/** media button */
div.mediaWrap select:focus,div.mediaWrap input:focus,span.fieldCurveC input:focus
{background-color:#E6FCE6!important;}
span.mediaWrapButton{display:inline;float:right;}
div.mediaButtonBord{float: left;margin-left:5px;padding-bottom:3px;margin-top:-7px;}

/***Form Container / Frame***/
/**no curve border on the main content**/
div.containerML div.mainContent div.curveTopLeft,div.containerML div.mainContent div.curveBotLeft{display:none;}
div.containerML div.mainContent div.curveMidLeft,div.containerML div.mainContent div.curveMidRight{padding:0;}

div.containerTL,div.containerTR,div.containerTC,div.containerBL,div.containerBR,div.containerBC{background-image:url(../images/curve-frame.png);background-repeat:no-repeat;}
div.containerTL{background-position:0 0;}
div.containerTR{background-position:100% -4px;padding:0 4px}
div.containerTC{background-position:50% -8px;background-repeat:repeat-x;height:4px;}

div.containerML{background-color:#d4dee8;padding:0 1px;}
div.containerMR{background-color:#fdfefe;}

div.containerBL{background-position:0 -12px;}
div.containerBR{background-position:100% -16px;padding:0 4px}
div.containerBC{background-position:50% -20px;background-repeat:repeat-x;height:4px;}

div.filterSpace{margin-bottom:10px;}

/**Search**/
div#infoFilter{padding: 5px 5px 5px 10px;color:#383838;}
div#filter-search input.inputbox{
background-image:url(../images/search-bg.png);
border:none;background-color:transparent;
padding:0 39px 0 25px;
margin-right:10px;
height:25px;
width:128px !important;
color:#383838;
font-size:1em;
}

/* Pagination and navigation */
div.filter-pagination{float:left;margin:10px;}
div#filter-totals{float:right;margin:0 5px;}
div.pagipages{float:left;line-height:200%;margin:0 10px;font-style:italic;}
div.filter-pagination div.pagePagination{padding:0;margin:0 10px;}
div.filter-pagination div.pagipages{position:relative;}
div.bottom-pagination div.pagipages{position:absolute;right:0;top:10px;}
div.bottom-pagination{position:relative;border-left:1px solid #dce4ec;border-right:1px solid #dce4ec;border-bottom:1px solid #dce4ec;z-index:1;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
div.pageNb{line-height:200%;margin:0 10px;float:left;}


span.boxCurveC input{border:none!important;height:15px;margin:0 -3px;padding:5px 1px;}
div#filter-picklist span.boxCurveL{margin-right:2px;}
/* div for the picklist */
div#filter-picklist {float: right;margin:10px 0;}
/* div for the search box */
div#filter-search {float: left;margin:10px 0;}

/**Button**/
span.bttnLeft button.button{border:none!important;background:none;padding:1px 0;color:#6a90b3;font-weight:normal;text-shadow:0px 1px 1px #d8e4ec;margin-top:2px;}
span.bttnLeft button.button:hover {color:#335aa0;}
span.bttnLeft,span.bttnRight,span.bttnCenter{background-image:url(../images/bttn.png)!important;background-repeat:no-repeat!important;display:inline-block}
span.bttnLeft{background-position:0 0!important;}
span.bttnRight{background-position: 100% -25px!important;padding:0 12px;}
span.bttnCenter{background-position:50% -50px!important;background-repeat:repeat-x!important;height:25px;}

span.boxCurveC select,span.boxCurveC select:focus{background:none;border:none;padding:5px 0 0 0;height:25px;margin:0 -3px !important;padding:5px;}
span.boxCurveL,span.boxCurveR,span.boxCurveC{background-image:url(../images/box-curve.png);background-repeat:no-repeat;display:inline-block}
span.boxCurveL{background-position:0 0;}
span.boxCurveR{background-position: 100% -27px;padding:0 4px;}
span.boxCurveC{background-position:50% -54px;background-repeat:repeat-x;height:25px;padding:1px 0;}

/**Table**/
/* div.mainContent span{font-weight:normal;} */
div.mainContent thead th span{font-weight:bold;}
div.mainContent a{color:#6a90b3!important;background:none!important;}
div.mainContent table.category{margin:0;width:100%;color:#383838;font-size:12px;}
div.mainContent table.category span{font-size:auto;}
div.mainContent table.category th a{color:#6a90b3!important;text-decoration:none;background:none!important;text-shadow:0px 1px 1px #fff;}
div.mainContent tr td{background-color:#fdfdfd;}
div.mainContent tr.row0 td{background-color:#fdfdfd;}
div.mainContent table tr:hover td,div.mainContent table tr.row0:hover td{background-color:#c6e4ff!important;}


/* Rounded Curve for Main content */
div.mainContent table{border:none!important;}
div.mainContent table{width:100%;}

div.curveTopLeft,div.curveTopRight,div.curveTopCenter,div.curveBotLeft,div.curveBotRight,div.curveBotCenter{background-image:url(../images/curve-bg.png);background-repeat:no-repeat;}

div.curveTopCenter,div.curveBotCenter{height:4px;background-repeat:repeat-x;}
div.curveTopRight,div.curveBotRight{padding:0 4px;}

div.curveTopLeft{background-position:0 0;}
div.curveTopRight{background-position:100% -4px;}
div.curveTopCenter{background-position:50% -8px;}
div.curveBotLeft{background-position:0 -12px;}
div.curveBotRight{background-position:100% -16px;}
div.curveBotCenter{background-position:50% -20px;}

/*div.curveMidLeft{background-color:#d4dee8;padding:1px 1px 0 1px;}*/
/*div.curveMidLeft{padding:0 1px;
overflow-x:scroll !important;
overflow-y:hidden;border-left:2px solid #D4DEE8;
border-right:2px solid #D4DEE8;
}*/
div.curveMidLeft{background-color:#d4dee8;padding:0 1px;}
div.curveMidRight{background-color:#fefefe;padding:0 1px;}

div.mainContent table td{border:1px solid #fff!important;}
div.mainContent table td,div.mainContent table th{padding:8px;color:#444444;}
div.mainContent table th{padding:8px;border-top:1px solid #d4dee8!important;border-left:1px solid #fff!important;}
div.mainContent table th,div.mainContent thead th span{text-align:center;font-family:Georgia;font-weight:normal!important;font-size:14px;}
table tr.row1 td{background-color:#eff4f7!important;}
div.mainContent table thead{padding:0 1px 1px 1px;background-image:url(../images/tablehead.png);background-repeat:repeat-x;background-position:0 bottom;border-bottom:1px solid #d4dee8!important;background-color:#e6edf5;}

div.mainContent table tbody tr.row0.rowSelected td,div.mainContent table tbody tr.row1.rowSelected td{background-color:#759fc5!important;}
div.mainContent table tbody tr.rowSelected a,div.mainContent table tbody tr.rowSelected a span{color:#f3f7fa!important;}

div.fieldR label{clear:none!important;float:left!important;margin:0!important;padding:0;}
div#pageWrapper fieldset button,div#pageWrapper fieldset img{float:none!important;margin:0!important;}
div#pageWrapper fieldset input,ul.fieldList input{float:left;margin:0;}
div#pageWrapper li input[type=radio]{margin:0 3px 0 0!important;}
div#pageWrapper fieldset label img,div#pageWrapper label img{float:right!important;margin:0;}
ul.fieldList input.calendarDash{margin-top:4px!important;}
div#pageWrapper a[title=Reset]{float:left;margin-top:6px;}

/*table fieldset.fieldsetContent {border: 1px solid #d4dee8;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}*/
h3.fieldsetLegend{color:#6a90b3;margin:0 0 5px 0!important;font-size:13px;font-family:Rockwell;position:absolute;top:-16px;left:10px;padding:8px;background-color:#fafbfc;color:#335aa0}
b.required{color:#ff0000;margin-left:3px;}

div.fieldF{position:relative;}


div.viewBody div.curveTopLeft,div.viewBody div.curveTopRight,div.viewBody div.curveTopCenter{background-image:url(../images/background.png);}
div.viewBody div.curveTopLeft{background-position:0 -696px;}
div.viewBody div.curveTopRight{background-position:100% -707px;padding:0 11px;}
div.viewBody div.curveTopCenter{background-position:100% -718px;height:11px;}
div.viewBody div.mainContent table th{border-top:none!important;}
div.viewBody table.joobilist{margin-top:-6px;}
div.viewBody div.nested table.joobilist,div.viewBody.viewFilter table.joobilist,div.viewBody.viewHeader table.joobilist{margin-top:0;}

div.viewFilter div.containerTL,div.viewFilter div.containerTR,div.viewFilter div.containerTC{background-image:url(../images/background.png);}
div.viewFilter div.containerTL{background-position:0 -663px;}
div.viewFilter div.containerTR{background-position:100% -674px;padding:0 11px;}
div.viewFilter div.containerTC{background-position:50% -685px;height:11px;}

div.viewFilter div#infoFilter{padding-top:0;padding-bottom:0}
div.viewFilter div#filter-search,div.viewFilter div#filter-picklist,div.viewFilter div.filter-pagination{margin-top:0;}


div.viewHeader div#toolbarBox,div.viewHeader div.filterSpace{margin-bottom:0;}
{display:none;}
div.viewHeader div#infoFilter{padding:0 10px;}
div.viewHeader div#filter-search,div.viewHeader div#filter-picklist,div.viewHeader div.filter-pagination{margin-top:10px;}
div.viewHeader div.containerML{padding:1px 1px 0 1px;margin-top:-1px;}

div.curveBottomLeft{clear:both;}
div.viewHeader div.curveBottomLeft{background-position:0 -501px;margin-top:-1px;position:relative;z-index:2;}
div.viewHeader div.curveBottomRight{background-position:100% -555px;padding:0 11px;}
div.viewHeader div.curveBottomCenter{background-position:50% -609px;background-repeat:repeat-x;height:54px;}

div.viewFilter div.containerBL,div.viewFilter div.curveTopLeft,
div.viewHeader div.containerTL,div.viewHeader div.containerBL,div.viewHeader div.curveTopLeft{display:none;}


div.viewHeader.viewForm div.viewForm,div.viewHeader.viewShow div.viewForm{padding:10px;border-left:1px solid #d4dee8;border-right:1px solid #d4dee8;border-bottom:1px solid #d4dee8;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
/*Legend bottom*/
div.legend{text-align:center;padding:9px 0;color:#b8b8b8;font-style:italic;}
div.legend span{color:#b8b8b8;padding:2px;}
div.legend span img{padding-right:3px;vertical-align:middle;}
/*Radio*/
div.radioAlign div{float:left;}


/*Wizard*/
div#viewWizard{border-bottom:1px solid #dce4ec;border-left:1px solid #dce4ec;border-right:1px solid #dce4ec;margin-top:0;padding:30px 0 10px 0;position:relative;background-color:white;}
div#viewWizard fieldset.joobiform{margin-top:0;border:0;}
div#viewWizard h3.fieldsetLegend{top:5px;}
/*Help*/
div#helpArea{border-top:none!important;min-height:0;clear:both;}

/*Error Inputbox*/
span.jberror{color:#ff0000;position:absolute;margin:7px 0 0 10px;font-weight:bold;}
h4.tab a span.jberror{margin:0;position:relative;}

/*media*/
div.mediaWrap{vertical-align:middle;}
div.mediaWrap select,div.mediaWrap input[type=text]{padding:5px;margin:5px 5px 5px 0;border:1px solid #d4dee8;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
div.mediaWrap select{height:25px;}
div.mediaWrap input[type=text]{height:15px;}
div.mediaWrap input[type=file]{margin-right:10px;}

/*seconds*/
span.fieldCurveC span.customSeconds{padding:6px;float:left;}

/*Slider box*/
div.viewForm .pane-sliders .panel{border:1px solid }
span.fieldCurveC span.customSeconds{padding:6px;float:left;}

.contentpane div.dynamic-tab-pane-control .tab-page{width:92.9%;}
.contentpane div.viewForm div.viewForm{border:1px solid #d4dee8;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
body.contentpane div.fieldR div.checkBoxAlign div{padding:5px;clear:both!important;}
body.contentpane div.fieldR label{padding:0 0 0 3px;}

/* Input price */
.singlePrice{
    display: inline;
    vertical-align: middle;
}
.singlePrice .symbol, .singlePrice .value, .singlePrice .code{
	float:left;
}
.singlePrice .symbol, .singlePrice .code{
	padding-top:6px;
}
.singlePrice .symbol{
	padding-right:3px;
}

/* translation icon */
.translate{float:left;}
.translateTextArea{float:right;}

/* Graph */
.graphPie{margin:10px;}

input[type="search"] {
  -webkit-appearance: textfield;
}

/* Listing element */
span.listingName, td.listingName span{font-size:1.1em;font-weight:bold;}

/* highlight of message */
.fontGreen{color:green!important;}
.fontOrange{color:orange!important;}
.fontGray{color:gray!important;}

/* table total styling */
.columnTotal{font-weight:bold;height: 1.5em;}
.grandeTotal{color:red;font-weight:bold;height: 1.5em;font-size:1.1em;}

/* style for graph */
hr.graphSeperate{
background-image: -moz-linear-gradient(left center , transparent, rgba(0, 0, 0, 0.4), transparent);
border:0 none;
height:1px;
margin:25px;
}

a.graphLink{font-size:1.2em}

/* Advance Search */
.advSearchFrame{
padding: 12px;
}
.advSearchFilter{
padding: 5px;
margin: 5px;
float:left;
border:1px solid #D4DEE8;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
}

.advSearchButton{
padding: 5px;
margin: 5px;
clear:both;
}