div.dynamic-tab-pane-control .tab-page{padding:20px;border:1px solid #d4dee8;background:#fcfcfe;z-index:0;position:relative;top:-2px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;float:left;width:96.9%;}
div.dynamic-tab-pane-control h4.tab:first-child{margin-left:-1px;}
div.dynamic-tab-pane-control h4.tab{float:left;margin:0;padding:0;position:relative;z-index:0;}
div.dynamic-tab-pane-control h4.tab a{color:#6a90b3!important;font-size:1em;background:none!important;font-weight:normal;text-decoration:none;outline:none;}
div.dynamic-tab-pane-control h4.tab,div.tab-row h4.tab a,div.tab-row h4.tab a span{background-image:url(../images/tabs/tab.png)!important;background-repeat:no-repeat!important;}
div.dynamic-tab-pane-control h4.tab a,div.tab-row h4.tab a span{display:inline-block;}
div.dynamic-tab-pane-control h4.tab{background-position: 0 -114px!important;margin-left:-3px;}
div.dynamic-tab-pane-control h4.tab a{background-position:100% -150px!important;padding:0 5px;}
div.dynamic-tab-pane-control h4.tab a span{background-position:50% -186px!important;background-repeat:repeat-x!important;height:16px;padding:10px;}

div.dynamic-tab-pane-control{position:relative;z-index:1;}
div.tab-page{position:relative;z-index:0;}

div.dynamic-tab-pane-control h4.tab:hover{background-position:0 -222px!important;}
div.dynamic-tab-pane-control h4.tab:hover a{background-position:100% -258px!important;}
div.dynamic-tab-pane-control h4.tab:hover a span{background-position:50% -294px!important;color:#335aa0!important;}

div.dynamic-tab-pane-control h4.tab.selected{background-position: 0 0!important;z-index:1;margin-top:-2px;}
div.dynamic-tab-pane-control h4.tab.selected a{background-position:100% -38px!important;}
div.dynamic-tab-pane-control h4.tab.selected a span{background-position:50% -76px!important;color:#335aa0!important;height:17px;font-weight:bold}

div.viewShow div.dynamic-tab-pane-control .tab-page[name=tabjb]{padding:0;}

